* {
  padding: 0;
  margin: 0;
}

body{
  background-color: #714d33;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil { 
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.name {
  font-family: 'Economica', sans-serif;
  font-weight: 400;
  color: whitesmoke;
  font-size: 3.5rem;
  padding: 27px; 
  text-align: center;
}

main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
}

.link {
  background-image: url("images/cafe2.jpg");
  height: 6vh;
  width: 55vw;
  padding: 7px;
  margin: 7px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Economica', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: whitesmoke;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-decoration: none;
}

.link:hover {
  opacity: 0.5;
}